<div class="row">
    <br>
    <div class="col-md-6 mx-auto">
        <div class="card text-center mt-3">
            <div class="card-header" >
                Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div> 
                    <br>
                     <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo Electronico" value="{{email}}">
                    </div> 
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" name="numero" placeholder="Telefono movil" value="{{numero}}">
                    </div> 
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div> 
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Password" value="{{confirm_password}}">
                    </div> 
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn block">Registrarte</button>

                    </div>

                </form>
            </div>

        </div>
    </div>

</div>